/* CSS for the SWiM CRM */
@import url(https://fonts.googleapis.com/css?family=Raleway:400,700);
@import url(https://fonts.googleapis.com/css?family=Cabin:400,700);

/* Gobal Styles */
body, html {
  font-family: 'Cabin', sans-serif;
  font-size: 15px;
}

body {
  background-color: #fdfdfd;
}

a {
  color: #007fc7;
}

a:hover {
  color: #006daa;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Raleway', sans-serif;
  color: #007fc7;
}
h1, h2, h3 {
    letter-spacing: -1px;
    font-weight: 700;
}
.main-wrapper {
  background: #fdfdfd;
  margin-top: 65px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.navbar-brand {
  height: auto;
  padding: 5px 15px;
}

.navbar-brand img {
    max-height: 55px;
    width: auto;
}

.navbar-inverse {
  background-image: none;
  background-color: #fff;
  border-radius: 0;
  height: auto;
  border-color: #dfdfdf;
  -webkit-box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.2);
  -moz-box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.2);
  box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.2);
}

.navbar-inverse .navbar-nav > li > a {
  border-bottom: 2px solid transparent;
  color: #007fc7;
  padding: 10px;
  margin: 0 3px;
  text-shadow: none;
}

.navbar-inverse .navbar-nav > li > a:hover {
  background-image: none;
  background-color: #fff;
  box-shadow: none;
  border-bottom: 2px solid #007fc7;
  color: #006daa;
}

.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .open > a {
  background-image: none;
  background-color: #fff;
  box-shadow: none;
  border-bottom: 2px solid #007fc7;
  color: #006daa;
  font-weight: bold;
}

.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus {
  background-image: none;
  background-color: #fff;
  box-shadow: none;
  border-bottom: 2px solid #007fc7;
  color: #006daa;
}
.navbar-inverse .navbar-toggle {
    border-color: #007fc7;
    background-color: #007fc7;
    margin-top: 14px;
    border-radius: 0;
}
.navbar-inverse .navbar-toggle:hover {
  background-color: #006daa;
}
.navbar-nav {
  margin-top: 12px;
  margin-left: 3rem;
}
.login-style a {
  background:#007fc7;
  color: #fff !important;
  margin-right: 2rem !important;
}
.login-style a:hover {
  background: #006daa !important;
  border-color: #006daa !important;
}

.mobileshow {
  display:none !important;
}

.mobilehide {
  display:block !important;
}

@media (max-width: 1170px) {
    .navbar-header {
        float: none;
    }
    .navbar-left,.navbar-right {
        float: none !important;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-fixed-top {
        top: 0;
        border-width: 0 0 1px;
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        margin-top: 7.5px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .collapse.in{
        display:block !important;
    }

    .mobilehide {
      display:none !important;
    }

    .mobileshow {
      display:block !important;
    }
}

table th {
  font-weight: bold;
}

.footer-section {
  border-top: 1px solid #ccc;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 10px;
  padding-top: 5px;
  text-align: center;
}

/* Login Styles */
.login-wrapper {
        margin: 5rem auto;
	width: 500px;
	background:#fff;
	border-radius: 10px;
	border:2px solid #eee;
	padding: 10px;
}

.login-image {
	text-align: center;
}

/* Client Styles */
/*#inputrecNum2.form-control {
  float:left;
  width: 10%;
}

#inputrecNum3.form-control {
  float:right;
  width: 89%;
}*/

#inputorg1.form-control {
  float:left;
  width: 49%;
}

#inputrecNum5.form-control {
  float:right;
  width: 49%;
}

.clearboth {
  clear:both;
  margin-bottom: 10px;
}

/* Project Styles */
.col-sm-12.project-info {
    margin-top: 20px;
}

.tab-content {
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    padding:15px;
}

.total-hours {
  display: inline;
  float: right;
  font-size: 20px;
}

/* Reply Styles */
.posted-reply-wrapper {
    border-bottom: 1px solid #000;
    padding: 10px;
    position: relative;
}

.reply-edit-button {
  position: absolute;
    right: 0;
    top: 10px;
}

/* Search Styles */
.search-box {
  background: #eee none repeat scroll 0 0;
  border: 1px solid #d3d3d3;
  border-radius: 5px;
  margin: 10px 20px;
  padding: 10px;
}

.client-search-box {
  background: #eee none repeat scroll 0 0;
  border: 1px solid #d3d3d3;
  border-radius: 5px;
  width:48%;
  padding: 10px;
  margin-right: 2%;
  float:left;
}

.search-box h3 {
    margin-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
}

.col-sm-6.search-box-item {
  margin-bottom: 10px;
}

h1.archived-client {
    float: left;
    width: 70%;
}

h3.archived-client {
    float: left;
    text-align: right;
    width: 30%;
}

}
#recuringinfo table {
    width: 100%;
}

#recuringinfo td {
    padding: 5px;
    text-align: left;
    vertical-align: top;
}

#recuringinfo td.bold {
    font-weight: bold;
}

.traffic-light {
  border-radius: 100px;
  padding: .0em .6em .0em;
}

